/* Base citation styles */
.citation {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  background-color: #1e1e1e;
  color: #908686;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

/* All links within citation */
.citation a {
  color: #908686 !important;
  text-decoration: none !important;
  border: none !important;
  background: none !important;
}

/* ORCID specific styles */
.citation a[href^="https://orcid.org"] {
  display: inline-flex;
  align-items: baseline;
  gap: 0;
  vertical-align: baseline;
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  background: none !important;
  border-image: none !important;
  border: 0 !important;
}

.citation .orcid-icon {
  width: 14px;
  height: 14px;
  margin: 0 0.2em 0 0.4em;
  vertical-align: text-bottom;
  position: relative;
  top: 0.1em;
}

/* Remove any other potentially conflicting styles */
.citation .orcid-link:after,
.citation .orcid-link:before {
  display: none !important;
}

/* Target the DOI link specifically */
.citation a[href^="https://doi.org"] {
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  background: none !important;
  border-image: none !important;
  border: 0 !important;
}

/* Also target any hover state */
.citation a[href^="https://doi.org"]:hover {
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  background: none !important;
  border-image: none !important;
  border: 0 !important;
}

/* Target ORCID link specifically */
.citation a[href^="https://orcid.org"] {
  display: inline-flex;
  align-items: baseline;
  gap: 0;
  vertical-align: baseline;
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  background: none !important;
  border-image: none !important;
  border: 0 !important;
}

/* Citation header styles */
.citation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #908686;
}

.citation-header strong {
  font-weight: bold;
}

/* Copy button styles */
.copy-icon {
  background: none;
  border: none;
  padding: 4px;
  margin: -4px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.copy-icon:hover {
  opacity: 1;
}

.copy-icon svg {
  width: 16px;
  height: 16px;
  fill: #908686;
}

.copy-icon:hover svg {
  fill: #00bfff;
}

/* Citation paragraph styles */
.citation p {
  margin: 0;
  line-height: 1.6;
  color: #908686;
}