{{ $page := .Page }}
{{ if $page.Params.doi }}
  <div class="citation">
    <div class="citation-header">
      <strong>Cite as:</strong>
      <button class="copy-icon" onclick="copyCitation()" aria-label="Copy citation">
        <img src="/icons/copy.svg" alt="Copy citation" width="20" height="20">
      </button>
    </div>
    <p id="citation-text">
      {{ if $page.Params.authors }}
        {{ range $index, $author := $page.Params.authors }}
          {{- if $index }}, {{ end -}}
          {{- $author.name -}}

        {{ end }}
      {{ else }}
        [No Author]
      {{ end }}
      {{ if $page.Date }}
        ({{ $page.Date.Format "2006, January 2" }}).
      {{ else }}
        (n.d.).
      {{ end }}
      <i>{{ $page.Title }}</i>.
      Retrieved from <a href="{{ $page.Params.doi }}">
      {{ $page.Params.doi }}
      </a>
    </p>
  </div>
  <script>
    function copyCitation() {
      const citationText = document.getElementById('citation-text').innerText.replace(/\s+/g, ' ').trim();
      navigator.clipboard.writeText(citationText).then(() => {
        alert('Citation copied to clipboard!');
      }).catch(err => {
        console.error('Failed to copy citation: ', err);
      });
    }
  </script>
{{ end }}
