

<p>The List of organizations was last updated from the POSI site on: {{ .Site.Data.posse.last_scraped | time.Format ":date_medium" }}, but it is only as current as the POSI site itself.</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Assessments</th>
      <th>Days since last self-assessment</th>
      <th>Reaction</th>
    </tr>
  </thead>
  <tbody>
    {{ range $org := .Site.Data.posse.organizations }}
    <tr>
      <td>{{ $org.name }}</td>
      <td>
        {{ range $index, $assessment := sort $org.self_assessments "date" }}
          {{ if $index }}, {{ end }}
          <a href="{{ $assessment.url }}">{{ $assessment.date }}</a>
        {{ end }}
      </td>
      {{ $latest := index (sort $org.self_assessments "date" "desc") 0 }}
      <td class="days-since" data-latest-date="{{ $latest.date }}"></td>
      <td class="reaction"></td>
    </tr>
    {{ end }}
  </tbody>
</table>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const dayElements = document.querySelectorAll('.days-since');
    dayElements.forEach(function(element) {
      const latestDate = new Date(element.getAttribute('data-latest-date'));
      const currentDate = new Date();
      const timeDiff = Math.abs(currentDate - latestDate);
      const daysSince = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
      element.textContent = daysSince.toLocaleString();
      const reactionElement = element.nextElementSibling;
      let emoji;
      if (daysSince < 60) {
        emoji = '🥳';
      } else if (daysSince < 365) {
        emoji = '😁';
      } else if (daysSince > 730) {
        emoji = '😱';
      } else {
        emoji = '🫣';
      }
      reactionElement.textContent = emoji;
    });
  });
</script>


